*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
  min-height: 100%;
  padding-bottom: 5rem;
}

.titulo {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}
.container {
    background-color: white;
}

header {
  margin-top: 3rem;
}

header h1 {
  color: white;
}

ul{
  list-style: none;
}

.container {
    border-radius: .5em;
}

.form-btn{
    background-color: hsl(135, 65%, 45%);
    color: white;
    width: 100%;
    border: none;
    border-radius: .5em;
    padding: .5em 0em;
}

.form-btn:hover{
    background-color: hsl(135, 65%, 40%);
}

.lista-citas .cita {
  border-bottom: 1px solid #e1e1e1;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: .5em 
}

.cita-titulo{
    display: flex;
    margin-bottom: .5em;
}

.cita-titulo > h3{
    display: flex;
    align-items: flex-end;
}

.cita-image{
    width: 2.5em;
    height: 2.5em;
    border-radius: .5em;
    margin-right: .5em;
    overflow: hidden;
}

.cita-image > img{
    height: 100%;
}

#citas > li:nth-child(n){
    margin-top: 2rem;
}

#citas > li:first-child{
    margin-top: 0;
}

.cita-btn > button{
    color: white;
    margin-right: .5em;
    border: none;
    padding: .5em 1em;
}

.cita-contenido > span {
    padding: .1em .5em;
    background-color:rgb(225, 225, 225);
    margin-right: .5em;
    margin-bottom: .5em;
    border-radius: .3em;
}

.cita-contenido{
    display: flex;
    flex-wrap: wrap;
}

.cita-contenido span:nth-child(n) span{
    display: inline-block;
}

.cita-contenido span:nth-child(n){
    display: flex;
}

.detail-title{
    font-weight: bolder;
    color: black;
}

.detail-title::first-letter{
    text-transform: uppercase;
}

.detail-title::after{
    content: ':';
    margin-right: .5em;
}

.btn-edit, .btn-delete{
    border-radius: .5em
}

.btn-edit{
    background-color: hsl(135, 65%, 45%);
}

.btn-edit:hover{
    background-color: hsl(135, 65%, 40%);
}

.btn-delete{
    background-color: hsl(348, 74%, 50%);
}

.btn-delete:hover{
    background-color: hsl(348, 74%, 45%);
}

textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}

.effect-alert input, .effect-alert textarea{
    border-color: red;
    animation: bordes 1s linear;
}

@keyframes bordes {
    0% {
        border: 1px;
    } 100% {
        border: 10px;
    }
}
